html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  /* font-style  */
}

img {
  display: block;
  max-width: 100%;
}

.boxed {
  width: 10rem;
  height: 10rem;
  background-color: lightpink;
}