html {
  font-size: 62.5%;
}

:root {
  --primary-color: #C71585;
  --secondary-color: #f1e7f1;
  --spacing: 3rem;
}


body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
}

.page1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 173, 253, 0.27), rgba(255, 166, 0, 0.188)), url(https://wallpapercave.com/wp/YbGWmpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}