// Biến sử dụng trong scss là có dấu $ ở phía trước
$primary-color:#DDA0DD;
$second-color:#F4B1B2;
$bule-color:#358BE5;
html {
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right bottom , $primary-color , $second-color);
  // width: 100%;
  // background-color:#E4E3E5;
}
// Tìm hiểu và nắm cơ bản kiến thức về Sass cho người mới
// p{
//   color:$primary-color ;
// }
// ở css nếu muốn gọi môtj class thì ta phải css .class muốn thay đổi khi rê chuột vào thì .class:hover... thì lau ở sass ta có thể code nhanh hơn bằng dấu & có nghĩa là gạch nối từ
.header{
  &-top{
    color: blueviolet;
    &:hover{
      color: cadetblue;
    }
  }
  &-content{
    font-size: 10rem;
    color:chocolate ;
    &::before{
      content: "look this is a beautiful girl";
      color: aquamarine;
      font-size: 8rem;
    }
  }
}
// Sử dụng mixin để tái sử dụng đoạn code nhiều lần
// Cấu trúc @mixin mixinName(){}
// $height:$width có nghĩa là khi truyền 1 tham số width vào thì height bằng width
@mixin size($width , $height:$width){
  width: $width;
  height:$height;
}
@mixin bgc($color :orange){
  background-color: $color;
}
@mixin absolute($direction: "left"){
  position: absolute;
  @if $direction == "both"{
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  }
  @if $direction == "left"{
    left:50%;
    transform: translateX(-50%);
  }
  @if $direction == "top"{
    top:50%;
    transform: translateY(-50%);
  }
}
.boxed{
  // width: 10rem;
  // height: 10rem;
  // Sử dụng mixin bằng cách @include mixinName(truyền tham số vào)
  @include size(10rem);
  // background-color:coral;
  @include bgc(green);
}
.container{
  width: 100%;
  height: 40rem;
  background-color: rgba(165, 42, 42, 0.36);
  position: relative;
  .boxing{
    @include size(10rem , 20rem);
    @include bgc(white);
    // position: absolute;
    // top:50%;
    // left:50%;
    // transform: translate(-50%,-50%);
    @include absolute("top");
  }
}
// Các lỗi hay gặp khi cài đặt Sass và cách khắc phục
// Thực hành code giao diện Dropdown #1
.dropdown{
  width: 40rem;
  margin: 4rem auto 0;
  position: relative;
  &__select{
    padding: 2rem 2.5rem 2rem 4rem;
   background-color:$bule-color;
   color: white;
   display: flex;
   align-items: center;
   cursor: pointer;
  //  không sử dụng  justify-content:space-between  trong trường hợp này vì nó sẽ chia đều 3 phần tử
  }
  &__text{
    margin-left: 3.5rem;
  }
  &__caret{
    // Trong flexbox khi có 3 phần tử muốn phần tử cuối cùng nằm về phía bên trái thì sử dụng margin-left : auto;
    margin-left: auto;
  }
  &__item{
    padding: 2rem 2.5rem 2rem 4rem;
   background-color:white;
   display: flex;
   align-items: center;
   color:#A1A0A9;
   transition: all 0.2s linear;
  //  khi chọn vào có hình bàn tay để người dùng biết là có thể bấm vào được sử dụng   cursor: pointer;
  cursor: pointer;
  border-left: 4px solid transparent;
  &:not(:last-child){
    border-bottom: 1px solid #eee;
  }
   &:hover{
    color: #54526A;
    border-left-color:  $bule-color ;
   }
  }
  &__list{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin-top: 3rem;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgb(black , 0.1);
   opacity: 0;
   visibility: hidden;
    background-color: white;
    transition: all 0.25s linear;
    &::before{
      content: "";
      width: 2rem;
      height: 2rem;
      // border-left: 10px solid transparent;
      // border-right:10px solid transparent ;
      // border-bottom: 10px solid white;
      position: absolute;
      top:0;
      right:2rem;
      border-radius:3px ;
      background-color: white;
      // Để bằng chính chiều cao của nó
      transform: translateY(-50%) rotate(45deg);
      z-index: -1;
    }
    &::after{
      content: "";
      position: absolute;
      height: 3rem;
      width: 100%;
      top:0;
      left:0;
      background-color:transparent;
      transform: translateY(-100%);
    }
  }
  &:hover{
    .dropdown__list{
      // display: block;
      opacity: 1;
      visibility: visible;
    }
  }
}
// Thực hành code giao diện đơn giản số 1 với flexbox #1
.work{
  max-width:1200px ;
  padding: 2rem;
  margin: 0 auto;
  &__heading{
    color:#22212C;
    font-weight: 500;
    font-size: 2.5rem;
    // Chữ cái đầu in hoa
  text-transform: capitalize;
    position: relative;
    // Cách 1
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    &::before{
      content: "";
      position: absolute;
      // Cách 2
      // bottom : -2rem;
      bottom: 0;
      left: 0;
      width: 3.5rem;
      height: 6px;
      border-radius: 4px;
      background-color:#0EAE86 ;
    }
  }
  &__filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  &-tab{
    display: flex;
    &__item{
      cursor: pointer;
      padding: 1rem 1.5rem;
      border: 1px solid #0EAE86 ;
      text-align: center;
      border-radius: 2rem 0 2rem 2rem;
      transition: all 0.25s ease;
      &:hover{
        color: white;
        background-color: #0EAE86;
      }
      &:not(:first-child){
        margin-left: 1rem;
      }
    }
  }
  &__all{
    display: inline-block;
    padding: 5px 1rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    color: #0EAE86;
    background-color: #BDDBD4;
  }
  &__list{
    display: flex;
  }
  &__item{
    width: calc( 25% - 1.5rem);
    border-radius: 6px;
    overflow: hidden;
    margin-left: 1.5rem;
  }
  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width :1023px){
  .work{
    &__item{
      width: calc( 50% - 1.5rem);
      margin-bottom: 1.5rem;
    }
  }
}
// Responsive là gì ? Giới thiệu Responsive toàn tập
// Respon là những điểm của màn hình
// 320 480 768 1024 1280 1366 1440 1600 1920
// min-width: 1024 -> >= 1024px
// max-width:1024 -> < = 1023px
// code desktop first thì sử dụng max-width
// @media screen and (max-width :1023px){}
// code mobile first thì sử dụng min-width
// @media screen and (min-width :1024px){}
//  Thực hành code giao diện đơn giản số 2
.author{
  max-width: 1000px;
  margin: 5rem auto;
  // background-image: linear-gradient(to right ,#0EAE86,#eee);

  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  height: 40rem;
  &__name{
    color: #333;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  &__image{
    height: 100%;
   object-fit: cover;
   width: 100%;
  }
  &__content{
    padding: 3rem;
    background-color:#eee;
    width: 100%;
  }
  &__desc{
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 3rem;
  }
  &__contact ,&-social{
    display: flex;
    align-items: center;
  }
  &-social{
    margin-left: 1rem;
    &__item{
      margin-left: 1rem;
    }
  }
}
@media screen and (min-width: 768px){
  .author{
  &__image{
    width: 35%;
  }
  &__content{
    width: 65%;
  }
}
}
@media screen and (max-width: 767px){
  .author{
    padding: 0 2rem;
    flex-direction: column;
    height: auto;
    &__image{
      height: 20rem;
    }

  }
}
// Thực hành code giao diện đơn giản số 3
@mixin flexbox($aligin: flex-start , $justify : flex-start , $flex-direction : row , $wrap : nowrap){
  display: flex;
  align-items: $aligin;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
.post{
  &__list{
    padding: 2rem;
    @include flexbox(stretch) ;
    margin-left: -2rem;
  //    border-radius: 1rem;
  // background-color: bisque;
  // box-shadow: 0px 0px 10px  #eee;
  }
  &__item{
    margin-left: 2rem;
    width: calc(33.33% - 2rem);
    // border-radius: 1rem;
  }
  &__image{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 0px 10px  #eee;
  }
  &__content{
    padding: 2rem;
   background-color: white;
  border:1px solid #eee ;
  border-radius:0 0 1rem 1rem ;
  height: calc(100% - 20rem);
  @include flexbox(flex-start , space-between, column);
  box-shadow: 1px 1px 10px 5px  rgba(0, 128, 0, 0.256);
  }
  &__title{
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 2;
  }
  &__author{
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    object-fit: cover;
  }
}
// Tìm hiểu các thuộc tính khác của flexbox
.post1{
  padding:2rem;
  margin:5rem auto;
  max-width: 40rem;
  background-color: white;
  border-radius: 20px;
@include flexbox(center);
&__media{
  width: 10rem;
  height: 10rem;
  border-radius: inherit;
}
}