html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  /* background-image: linear-gradient(to bottom, #b4e0f1, #e8c6dc); */
}

body {
  height: 100%;
  background-image: linear-gradient(to bottom, #bde2f1, #e3cada);
  background-size: over;
}

.joke {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  border-radius: 8px;
  border: #dce9de solid 2px;
  background-color: #fdfdfd;
}

.joke-heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.5;
}

.joke-button {
  width: 200px;
  height: 50px;
  border: 0;
  display: block;
  outline: none;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #aafc93;
  justify-content: center;
  align-items: center;
  position: relative;

}

.loader {
  width: 20px;
  position: absolute;
  top: 25%;
  left: 48%;
  transform: translate(-80%, -50%);
  height: 10px;
  /* position: absolute; */
  display: none;
}

.loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.joke.is-loading .joke-button span {
  display: none;
}

.joke.is-loading .joke-button .loader {
  display: inline-block;
}

.images {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.imageItem {
  padding: 10px;
  background-color: aliceblue;

}