html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {}

input {
  line-height: normal;
}

label,
button {
  /* cursor: pointer; */
}

a {
  text-decoration: none;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #eed8d8;
}

.button {
  padding: 20px;
  background-image: linear-gradient(to right bottom, rgb(215, 113, 113), rgb(224, 209, 135));
  margin: 50px auto;
  border-radius: 5px;
  color: aliceblue;
  border: 2px solid;
  cursor: pointer;
  width: 200px;
  font-family: "Poppins", sans-serif;
  display: block;
}

/* <!-- Bài 155  bài tập body chaging color random --> */
.change {
  display: block;
  padding: 15px 40px;
  border-radius: 20px;
  border: 0;
  color: aliceblue;
  background-color: cadetblue;
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
}

/* <!-- Bài 156 bải tập counter -->*/
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.counter-number {
  font-size: 100px;
  margin: 0 10px;
  color: transparent;
  background-image: linear-gradient(to right bottom, #ab2259, #dc8738);
  -webkit-background-clip: text;
  background-clip: text;
}

.counter button {
  width: 40px;
  height: 40px;
  background-color: #e99393;
  border: 0;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  <!--Bài 159 Bài tập về toggle menu  -->*/
.menu {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  list-style: none;
  background-image: linear-gradient(to right bottom, #e3a1bb, #daab80);
  transform: translateX(100%);
  transition: transform 0.25s linear;
}

.menu.is-show {
  transform: translateX(0);
}

.menu-link {
  display: flex;
  padding: 20px 15px;
  color: #333;
  border-bottom: 2px solid #dcd4d4;
}

.header {
  padding: 25px;
  /* margin-left: 250px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-toggle {
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  z-index: 9999;
  color: white;
  /* margin-left: 250px; */
}

/* Bài  161 Bài tập về tab */
.tab {
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: white;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 500px;
}

.tab-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.tab-item {
  cursor: pointer;
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  color: #818e9b;
  background-color: #f4f5f7;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  flex: 1;
}

.tab-item.active {
  color: white;
  background-color: #e17863;
  pointer-events: none;
}

.tab-item:not(:first-child) {
  margin-left: 2rem;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.post {
  display: flex;
  align-items: center;
}

.post:not(:first-child) {
  margin-bottom: 2rem;
}

.post-title {
  color: #4e4f51;
  font-weight: 300;
  line-height: 1.8;
  font-size: 14px;
}

/*
    <!--  Bài  164 bài tập Accordion-->  */
.accordion {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  max-width: 500px;
  background-image: linear-gradient(to right bottom, #8b6be5, #e57e59);
}

.accordion:first-child {
  background-image: linear-gradient(to right bottom, #e98d5f, #cfe969);
}

.accordion-header {
  padding: 20px;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  box-shadow: rgba(118, 118, 193, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* * là toàn bôj các selector bên trong header */
.accordion-header * {
  pointer-events: none;
}

.accordion-content {
  border-top: 0;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  background-color: rgb(239, 221, 221);
  height: 0;
  overflow: hidden;
  transition: all 0.25s linear;
}

.accordion-content-inner {
  padding: 20px;
  border: 1px solid #eee;
}

.accordion-content.is-active {
  height: auto;
}

/*     <!-- Bài 167 Bài tập Open Modal --> */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(172, 66, 66, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  cursor: zoom-out;
}

.modal-content {
  min-height: 350px;
  width: 100%;
  max-width: 800px;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  cursor: auto;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10rem;
  background-color: #6a5af9;
  color: white;
  cursor: pointer;
}

.button1 {
  display: block;
  width: 200px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 3px 3px #fff3f3;
  color: white;
  background-color: #dc8738;
  border: 1px solid;
}

/* <!-- Bài 169 bài tập lightbox --> */
.content {
  max-width: 1024px;
  padding: 50px 25px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin: 0 auto;
  display: block;
}

.content p {
  margin-bottom: 30px;
}

.content img {
  display: block;
  margin-bottom: 30px;
  cursor: zoom-in;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.lightbox-content img {
  max-height: 400px;
  width: 90%;
  object-fit: cover;
  border-radius: 4px;
  /* max-width: 1000px; */
}

.lightbox-content i {
  color: white;
  font-size: 60px;
  cursor: pointer;
  flex-shrink: 0;
}

/*  <!-- Bài 174 Drop Down --> */

.dropdown {
  --primary: #de4b3e;
  --secondary: #c74237;
  width: 100%;
  max-width: 400px;
  margin: 25px auto;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 4px;
}

.dropdown__select {
  border-radius: inherit;
}

.dropdown__select * {
  pointer-events: none;
}

.dropdown__list {
  margin-top: 2.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
}

.dropdown__list.show {
  display: block;
}

.dropdown__list:before {
  content: "";
  height: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}

.dropdown__select,
.dropdown__item {
  width: 100%;
  padding: 2rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown__item {
  transition: background-color 0.2s linear;
}

.dropdown__item * {
  pointer-events: none;
}

.dropdown__item:first-child {
  border-radius: 4px 4px 0 0;
  position: relative;
}

.dropdown__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary);
  transform: translateY(-100%);
  transition: border-color 0.2s linear;
}

.dropdown__item:first-child:hover:before {
  border-bottom-color: var(--secondary);
}

.dropdown__item:last-child {
  border-radius: 0 0 4px 4px;
}

.dropdown__item:hover {
  background-color: var(--secondary);
}

/* mouse */
/* body {
  height: 500vh;
  /* width: 400vh; */
/* } */


/*      <!--  Bài tập 179 tooltip-->*/
.text {
  color: #bb4f40;
  display: flex;
  font-size: 20px;
  margin: 200px auto;
  width: 250px;
  height: 40px;
  background-color: #f9cbb6;
  align-items: center;
  justify-content: center;
  border: 2px solid #dee9f4;
  border-radius: 5px;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: fixed;
  /* top: 0; */
  /* left: 50%; */
  /* transform: translate(80%, -130%); */
  background-color: #f9ba9c;
  padding: 10px 20px;
  display: block;
  color: #ca4b3a;
  border-radius: 20px;
}

.tooltip-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f9ba9c;
}


/* <!-- Bài 183 bài tập link hover --> */
/* body {
  background-color: #ff8876;
} */

.menu-web {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10%;
  /* background-color: #ff8876; */
  height: 50px;
}

.menu-logo img {
  width: 60px;
  border-radius: 50%;
}

.menu-toggle {
  margin-left: 700px;
}

.menu-hover {
  display: flex;
  list-style: none;
}

.item-menu {
  margin: 0 25px;
}

.menu1-link {
  display: inline-block;
  color: #ab2259;
  position: relative;
  font-size: 22px;
  font-weight: 400;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: #63110f;
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}

/* .menu1-link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #63110f;
  opacity: 0;
  visibility: hidden;
}

.menu1-link:hover:before {
  opacity: 1;
  visibility: visible;
} */


/*     <!-- Bài 185 image hoverhover zoom -->s */
.image-wrapper {
  height: 300px;
  width: 450px;
  position: relative;
  overflow: hidden;
  margin: 50px auto;
  border-radius: 20px;
}

.image1 {
  object-fit: contain;
  max-height: 100%;
  cursor: zoom-in;
  max-width: unset;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.image-cover {
  cursor: zoom-in;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/*
    <!-- Bài 190 Sự kiện Keydown của form --> */
.form {
  margin: 50px auto;
  border: #333 solid 2px;
  width: 500px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.43);
  justify-content: center;
  align-items: center;
  box-shadow: rgba(218, 126, 126, 0.512) 0px 7px 29px 0px;
}

.title {
  padding: 10px;
  display: block;
  width: 100%;
  /* padding: 30px 200px 0; */
  text-align: center;
  /* justify-content: center;
  align-items: center; */
  /* padding: 20px auto 0; */
  font-size: 30px;
  color: #ab2259;
}

.input {
  padding: 10px;
  border: #400c07 solid 2px;
  border-radius: 5px;
  background-color: #faccc2;
  color: #540604;
  font-size: 15px;
  width: 300px;
  margin: 30px auto 20px;
  display: block;
}

.submit {
  padding: 20px;
  background-color: #c1ccdd;
  margin: 30px auto;
  border-radius: 5px;
  color: rgb(8, 25, 40);
  border: 2px solid;
  cursor: pointer;
  width: 150px;
  font-family: "Poppins", sans-serif;
  display: block;
}

.password {
  position: relative;
}

.toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 120px;
  cursor: pointer;
}

/*  <!-- Bài tập 200 highlight --> */
.dropdown {
  position: relative;
  width: 500px;
  padding: 20px;
  background-color: #e0cdcd;
  box-shadow: rgba(218, 126, 126, 0.512) 0px 7px 29px;
  margin: 30px auto;
}

.input-search {
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid #e3e7eb;
  border-radius: 8px;
  color: #540604;
  background-color: #f8eaea;
}

.dropdown-item {
  margin-top: 20px;
  font-size: 18px;
  color: #400c07;
}