html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  /* background-image: linear-gradient(to bottom, #b4e0f1, #e8c6dc); */
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom, #bde2f1, #e3cada)
}

img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 25px;
}