$primary-color:#E13C46;
$second-color:#F4B1B2;
$bule-color:#358BE5;
$color-text:#20144A;
$bcg-input:#e1e1e590;
html {
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  // width: 100vw;
  // height: 100vh;

}
@mixin flexbox($aligin: flex-start , $justify : flex-start , $flex-direction : row , $wrap : nowrap){
  display: flex;
  align-items: $aligin;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
@mixin size($width , $height:$width){
  width: $width;
  height:$height;
}
input,select,textarea,button{
  // ẩn đường line bao ngoài các giá trị input
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}
// button{
//   cursor: pointer;
// }
// textarea{
//   // ko cho thay đổi kích thuóc textarea
//   resize: none;
// }
// ẩn nút bấm lên bấm xuống trong type number
// input[type="number"]::-webkit-inner-spin-button{
// margin: 0;
// -webkit-appearance: none;
// }
// // pseudo là focus
// input:focus{
//   border:  1px solid brown;
// }
// Hướng dẫn cách làm custom checkbox
.checkbox{
  margin: 5rem 5rem;
  &__input{
    display: none;
    &:checked + .checkbox__label::after{
    opacity: 1;
    visibility: visible;
    }
    }
  &__label{
    position: relative;
    padding-left: 5rem;
    cursor: pointer;
    &::before{
      content: "";
      @include size(4rem);
      background-color: #F4B1B2;
      position: absolute;
      left: 0;
      top:50%;
      transform: translateY(-50%);
      border-radius: 1rem;
    }
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 1rem;
      @include size(2rem , 1rem);
      // background-color: white;
      transform: rotate(-45deg);
      border-left: 4px solid white;
      border-bottom: 4px solid white;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s linear;
    }
  }
}
// Hướng dẫn cách làm custom radio
.radio{
  margin : 5rem 5rem;
  &__input{
    display: none;
    &:checked +.radio__label::before{
      background-color: #fc556f;
      box-shadow: 0 0 0 4px #fff , 0 0 0 6px #fc556f;
    }
  }
  &__label{
    position: relative;
    padding-left: 5rem;
    cursor: pointer;
    &::before{
      content: "";
      @include size(2rem);
      border-radius: 2rem;
     background-color: #eee;
     box-shadow: 0 0 0 4px #eee , 0 0 0 6px #B1B0C6;
      position: absolute;
      left: 0;
      top:50%;
      transform: translateY(-50%);
      transition: 0.2s linear;
    }
  }
}
// Hướng dẫn cách làm custom chose file
.file{
  @include size(10rem);
  border-radius: 1rem;
  border: 1px solid $primary-color;
  background-color: rgba($second-color, 0.5);
  position: relative;
  &__input{
    display: none;
  }
  &__label{
    @include flexbox(center, center);
    position: absolute;
    top: 0;
    left: 0;
   right:0;
   bottom:0;
   cursor: pointer;
   z-index: 2;
  }
}
// Hướng dẫn cách làm custom toggle
.checkbox2{
  margin-bottom: 1rem;
  &__input{
    display: none;
  &:checked + .checkbox2__label{
    background-color: #6655E2;
    .checkbox2__spin{
    transform: translateX(5rem);
    }
  }
}
  &__label{
    display: inline-block;
    @include size(10rem, 5rem);
    background-color: #ccc;
    // #6655E2
    border-radius: 5rem;
    margin-top: 3rem;
    cursor: pointer;
    padding: 5px;
  }
  &__spin{
    @include size(4rem,4rem);
    background-color: white;
    border-radius: 4rem;
    // transform: translateX(5rem);
    transition: 0.25s linear;
  }
}
// Hướng dẫn code hiệu ứng cho input, textarea, button
.input-style{
padding: 2rem;
border-radius: 8px;
border: 2px solid #B1ADC0;
width: 40%;
color: #241936;
font-size: 1.6rem;
margin-left: 5rem;
resize: none;
outline: none;
transition:all 0.2s linear;
&::-webkit-input-placeholder{
  color:#B1ADC0;
}
&:focus{
  box-shadow: 0 0 0 3px #e4c6c565;
  border-color:  #FF615E;
}
}
.button-style{
  width: 40%;
  padding: 2rem;
  border-radius: 8px;
  border: 0;
  outline: none;
  color:white;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
background-color: #E34F5C;
transition:all 0.2s linear;
box-shadow: 0 5px 0 0 #8b2f37 ;
&:hover{
  background-color: #ef8f90bd;
  color:#E34F5C;
}
&:active{
  transform: translateY(3px);
  box-shadow: 0 2px 0 0 #8b2f37 ;
}
}
// Thực hành code giao diện form tổng hợp phần 1
body{
background-color: #FBFBFD;
padding: 5rem;
min-height: 100vh;
}
.signup{
  width: 100%;
  height: 100%;
  background-color: #EAC485;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(black, 0.1);
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  &__content,&__image{
    width: calc(50% - 4rem);
  }
  &__heading{
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #20144A;
  }
&__caption{
  color: $primary-color;
  font-weight: bold;
  margin-bottom: 4.5rem;
  position: relative;
  padding-left: 12rem;
  &::before{
    content: "";
    position: absolute;
    width: 10rem;
    height: 2px;
    background-color: $primary-color;
    left:0;
    top: 50%;
    margin-top: -1px;
  }
}
&-social{
  @include flexbox(stretch , space-between);
margin-bottom: 6rem;
&__item{
  padding:1.5rem 2.5rem;
  border-radius: 10px;
  border: 1px solid #eee;
  cursor: pointer;
  @include flexbox(center, center);
  color: $color-text;
  width: calc(50% - 1.5rem);
}
&__icon{
margin-right: 2rem;
}
}
&-form{
  &__label{
    color: $color-text;
    display: inline-block;
    margin-bottom: 1rem;
    transform: translateX(1rem);
    cursor: pointer;
  }
  &__input{
    padding: 1.5rem 2.5rem;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: $bcg-input;
    display: block;
    outline: none;
    width: 100%;
  }
  &__row{
    @include flexbox(stretch, space-between);
    margin-bottom: 3rem;
    .signup-form__group{
      width: calc(50% - 1.5rem);
    }
  }
  &__term{
    input{
      display: none;
      &:checked + label::after{
      opacity: 1;
      visibility: visible;
      }
      }
    label{
      position: relative;
      padding-left: 5rem;
      display:inline-block;
      cursor: pointer;
      margin-top: 3rem;
      margin-bottom:5rem ;
      &::before{
        content: "";
        @include size(3rem);
        background-color: white;
        position: absolute;
        left: 0;
        top:50%;
        transform: translateY(-50%);
        border-radius: 1rem;
      }
      &::after{
        content: "";
        position: absolute;
        top: 0.25rem;
        left: 0.75rem;
        @include size(1.5rem , 0.75rem);
        // background-color: white;
        transform: rotate(-45deg);
        border-left: 3px solid  #e0b269;
        border-bottom: 3px solid #e0b269;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s linear;
      }
    }
  }
  &__submit{
    @include size(8rem);
    color: white;
    border: 0;
    border-radius: 3rem;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem ;
    cursor: pointer;
    margin-bottom: 6.5rem;
    box-shadow: 0 10px 10px 0px rgba($primary-color, 0.5);
  }
  &__already{
    color:$color-text;
    a{
      color:$primary-color;
      // xóa dấu gạch chân trong thẻ a
      text-decoration: none;
    }
  }
  }
}

