html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
}

input, select, textarea, button {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

.checkbox {
  margin: 5rem 5rem;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
  visibility: visible;
}
.checkbox__label {
  position: relative;
  padding-left: 5rem;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  width: 4rem;
  height: 4rem;
  background-color: #F4B1B2;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1rem;
}
.checkbox__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 1rem;
  width: 2rem;
  height: 1rem;
  transform: rotate(-45deg);
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
}

.radio {
  margin: 5rem 5rem;
}
.radio__input {
  display: none;
}
.radio__input:checked + .radio__label::before {
  background-color: #fc556f;
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #fc556f;
}
.radio__label {
  position: relative;
  padding-left: 5rem;
  cursor: pointer;
}
.radio__label::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #eee;
  box-shadow: 0 0 0 4px #eee, 0 0 0 6px #B1B0C6;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s linear;
}

.file {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  border: 1px solid #E13C46;
  background-color: rgba(244, 177, 178, 0.5);
  position: relative;
}
.file__input {
  display: none;
}
.file__label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
}

.checkbox2 {
  margin-bottom: 1rem;
}
.checkbox2__input {
  display: none;
}
.checkbox2__input:checked + .checkbox2__label {
  background-color: #6655E2;
}
.checkbox2__input:checked + .checkbox2__label .checkbox2__spin {
  transform: translateX(5rem);
}
.checkbox2__label {
  display: inline-block;
  width: 10rem;
  height: 5rem;
  background-color: #ccc;
  border-radius: 5rem;
  margin-top: 3rem;
  cursor: pointer;
  padding: 5px;
}
.checkbox2__spin {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 4rem;
  transition: 0.25s linear;
}

.input-style {
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid #B1ADC0;
  width: 40%;
  color: #241936;
  font-size: 1.6rem;
  margin-left: 5rem;
  resize: none;
  outline: none;
  transition: all 0.2s linear;
}
.input-style::-webkit-input-placeholder {
  color: #B1ADC0;
}
.input-style:focus {
  box-shadow: 0 0 0 3px rgba(228, 198, 197, 0.3960784314);
  border-color: #FF615E;
}

.button-style {
  width: 40%;
  padding: 2rem;
  border-radius: 8px;
  border: 0;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #E34F5C;
  transition: all 0.2s linear;
  box-shadow: 0 5px 0 0 #8b2f37;
}
.button-style:hover {
  background-color: rgba(239, 143, 144, 0.7411764706);
  color: #E34F5C;
}
.button-style:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 0 #8b2f37;
}

body {
  background-color: #FBFBFD;
  padding: 5rem;
  min-height: 100vh;
}

.signup {
  width: 100%;
  height: 100%;
  background-color: #EAC485;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}
.signup__content, .signup__image {
  width: calc(50% - 4rem);
}
.signup__heading {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #20144A;
}
.signup__caption {
  color: #E13C46;
  font-weight: bold;
  margin-bottom: 4.5rem;
  position: relative;
  padding-left: 12rem;
}
.signup__caption::before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 2px;
  background-color: #E13C46;
  left: 0;
  top: 50%;
  margin-top: -1px;
}
.signup-social {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 6rem;
}
.signup-social__item {
  padding: 1.5rem 2.5rem;
  border-radius: 10px;
  border: 1px solid #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #20144A;
  width: calc(50% - 1.5rem);
}
.signup-social__icon {
  margin-right: 2rem;
}
.signup-form__label {
  color: #20144A;
  display: inline-block;
  margin-bottom: 1rem;
  transform: translateX(1rem);
  cursor: pointer;
}
.signup-form__input {
  padding: 1.5rem 2.5rem;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: rgba(225, 225, 229, 0.5647058824);
  display: block;
  outline: none;
  width: 100%;
}
.signup-form__row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 3rem;
}
.signup-form__row .signup-form__group {
  width: calc(50% - 1.5rem);
}
.signup-form__term input {
  display: none;
}
.signup-form__term input:checked + label::after {
  opacity: 1;
  visibility: visible;
}
.signup-form__term label {
  position: relative;
  padding-left: 5rem;
  display: inline-block;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.signup-form__term label::before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-color: white;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1rem;
}
.signup-form__term label::after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.75rem;
  width: 1.5rem;
  height: 0.75rem;
  transform: rotate(-45deg);
  border-left: 3px solid #e0b269;
  border-bottom: 3px solid #e0b269;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
}
.signup-form__submit {
  width: 8rem;
  height: 8rem;
  color: white;
  border: 0;
  border-radius: 3rem;
  background-color: #E13C46;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 6.5rem;
  box-shadow: 0 10px 10px 0px rgba(225, 60, 70, 0.5);
}
.signup-form__already {
  color: #20144A;
}
.signup-form__already a {
  color: #E13C46;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
